@charset "utf-8";
/* CSS Document */
body, html{
	height: 100%;
}
body{
	background: #fff !important;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
}
p{
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, ul, li{
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a {
	text-decoration: none !important;
	transition: all 0.5s;
}


.demo-card{
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    padding: 1px 0;
    margin: 30px 0;
}
.strip{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e57a0a+0,e06b08+50,da5e06+100 */
background: rgb(229,122,10); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(229,122,10,1) 0%, rgba(224,107,8,1) 50%, rgba(218,94,6,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(229,122,10,1) 0%,rgba(224,107,8,1) 50%,rgba(218,94,6,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(229,122,10,1) 0%,rgba(224,107,8,1) 50%,rgba(218,94,6,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e57a0a', endColorstr='#da5e06',GradientType=0 ); /* IE6-9 */
width: 95%;
margin: 18px 0 0 53px;
    border-radius: 5px 0 0 5px;
    padding: 3px 0;
}

.strip h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
}
.arrows
{
    float: right;
}
.arrows .fa {
    color: #fff;
    font-size: 14px;
}


/* animated form  */

.header__btn {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    padding: 10px 20px;
    display: inline-block;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #2c2c2c;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
  }
  .header__btn:last-child {
    margin-right: 0;
  }
  .header__btn:hover, .header__btn.js-active {
    color: #fff;
    background-color: #2c2c2c;
  }
  
  .header {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  
  .header__title {
    margin-bottom: 30px;
    font-size: 2.1rem;
  }
  
  .content {
    width: 95%;
    margin: 45px auto 50px;
  }
  
  .content__title {
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
  }
  
  .content__title--m-sm {
    margin-bottom: 10px;
  }
  
  .multisteps-form__progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    padding: 60px 0;

  }
  
  .multisteps-form__progress-btn {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding-top: 20px;
    color: #929292 !important;
    text-indent: -9999px;
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
  }
  @media (min-width: 500px) {
    .multisteps-form__progress-btn {
      text-indent: 0;
    }
  }
  .multisteps-form__progress-btn:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 13px;
    height: 13px;
    content: "";
    transform: translateX(-50%);
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: #DB6006;
    color: #DB6006;
    box-sizing: border-box;
    z-index: 3;
  }
  .multisteps-form__progress-btn:after {
    position: absolute;
    top: 5px;
    left: calc(-50% - 13px / 2);
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    background-color: currentColor;
    z-index: 1;
    opacity: 0.3;
  }
  .multisteps-form__progress-btn:first-child:after {
    display: none;
  }
  .multisteps-form__progress-btn.js-active {
    color: #DB6006;
  }
  .multisteps-form__progress-btn.js-active:before {
    transform: translateX(-50%) scale(1.2);
    background-color: #929292 ;
  }
  
  .multisteps-form__form {
    position: relative;
  }
  
  .multisteps-form__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  .multisteps-form__panel.js-active {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
  .multisteps-form__panel[data-animation=scaleOut] {
    transform: scale(1.1);
  }
  .multisteps-form__panel[data-animation=scaleOut].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transform: scale(1);
  }
  .multisteps-form__panel[data-animation=slideHorz] {
    left: 50px;
  }
  .multisteps-form__panel[data-animation=slideHorz].js-active {
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
    transition-delay: 0s;
    left: 0;
  }
  .multisteps-form__panel[data-animation=slideVert] {
    top: 30px;
  }
  .multisteps-form__panel[data-animation=slideVert].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    top: 0;
  }
  .multisteps-form__panel[data-animation=fadeIn].js-active {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
  }
  .multisteps-form__panel[data-animation=scaleIn] {
    transform: scale(0.9);
  }
  .multisteps-form__panel[data-animation=scaleIn].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transform: scale(1);
  }
/* animated form  end*/

.circle{
    height: 150px;
    width: 150px;
    background-color: #BEBEBE;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.6;
    border: 1px solid #979191;
    position: relative;
}
.circle:nth-child(2){
   position: relative;
   left: -40px;
}
.circle:nth-child(3) {
    position: relative;
    top: -53px;
    left: 55px;
}
.circle:first-child::before{
    content: 'UX';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 45px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.circle:nth-child(2)::before{
    content: 'VISUAL DESIGN';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 71%;
    top: 44px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    left: 23px
}

.circle:nth-child(3)::before{
    content: 'DEVELOPMENT';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 70px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

.form-txt h4 {
    font-size: 22px;
    color: #7E7E7E;
}

.form-txt p {
    font-size: 14px;
    color: #7E7E7E;
    padding: 15px 0;
}
.about-us h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #7E7E7E;
}
.about-us p {
    text-align: center;
    opacity: 0.4;
    font-size: 14px;
}
.team-card {
    box-shadow: 0px 5px 50px rgb(0 0 0 / 20%);
    padding: 50px 0;
    transition: 0.5s all;
}
.team-card:hover{
    background-color: #db7d39;
    box-shadow: 0px 5px 50px rgb(0 0 0 / 20%);
}
.team-icon {
    text-align: center;
}
.team-icon img {
    border-radius: 50%;
}
.team-desc {
    text-align: center;
    padding: 30px 0 0;
}
.team-desc h6 {
    font-size: 25px;
    padding: 12px 0 0;
    margin-bottom: 0;
}



.social-links .box{
    box-shadow: 0px 5px 50px rgb(0 0 0 / 20%);
    padding: 50px 20px;
    transition: 0.5s all;
    margin: 10px 0;
}
}
.social-links .social-box .box{
    background: #FFF;
    border-radius: 10px; 
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.social-links .social-box .box:hover{
   box-shadow: 0 0 6px #4183D7;
}

.social-links .social-box .box .box-text{
    margin:20px 0px;
    font-size: 15px;
    line-height: 30px;
}

.social-links .social-box .box .box-btn a{
    text-decoration: none;
    color: #4183D7;
    font-size: 16px;
}

.social-links .fa{
     color:#4183D7;
}

.box-btn a {
    background-color: #db7d39;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #db7d39;
}
.box-btn a:hover{
    background-color: transparent;
    border: 1px solid #db7d39;
    color: #000;
}
.box-text {
    padding-bottom: 30px;
}


.content-header{
    font-family: 'Oleo Script', cursive;
    color: rgb(0 252 159);
    font-size: 45px;
  }
  
  .section-content{
    text-align: center; 
  
  }
  #contact{
      
      font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    height: 550px;
       /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e57a0a+0,e06b08+50,da5e06+100 */
background: rgb(229,122,10); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(229,122,10,1) 0%, rgba(224,107,8,1) 50%, rgba(218,94,6,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(229,122,10,1) 0%,rgba(224,107,8,1) 50%,rgba(218,94,6,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(229,122,10,1) 0%,rgba(224,107,8,1) 50%,rgba(218,94,6,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e57a0a', endColorstr='#da5e06',GradientType=0 ); /* IE6-9 */
      color : #fff;    
  }
  .contact-section{
    padding-top: 40px;
  }
  .contact-section .col-md-6{
    width: 50%;
  }
  
  .form-line{
    border-right: 1px solid #B29999;
  }
  
  .form-group{
    margin-top: 10px;
  }
  label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
  }
  .form-control{
    font-size: 1.3em;
    color: #080808;
  }
  .section-content h3 {
    font-size: 15px;
}
.form-group label {
    font-size: 14px;
}
@media only screen and (min-device-width:520px) and (max-device-width:767px) and (orientation:portrait) {}
@media only screen and (min-device-width:120px) and (max-device-width:750px) and (orientation:landscape) {}
@media only screen and (min-device-width:751px) and (max-device-width:999px) and (orientation:portrait) {}
@media only screen and (min-device-width:751px) and (max-device-width:999px) and (orientation:landscape) {}
@media only screen and (min-device-width:1000px) and (max-device-width:1030px) and (orientation:portrait) {}
@media only screen and (min-device-width:1000px) and (max-device-width:1030px) and (orientation:landscape) {}

@media only screen and (min-width: 1366px) and (max-width: 1920px){}
@media only screen and (min-width: 1200px) and (max-width: 1365px){}
@media only screen and (min-width: 992px) and (max-width: 1199px){}
@media only screen and (min-width: 768px) and (max-width: 991px){}
@media only screen and (min-width: 520px) and (max-width: 767px){}
@media only screen and (min-width: 300px) and (max-width: 519px){
    .strip{
        margin: 0;
        width: 100%;
    }
    .circle:nth-child(2) {
        position: relative;
        left: 115px;
        top: -153px;
    }
    .circle:nth-child(3) {
        position: relative;
        top: -220px;
        left: 55px;
    }
    .circle-2 {
        margin-top: -70%;
        margin-bottom: -145px;
    }
    .arrows{display: none;}
    .team-card {
      margin: 10px 0;
  }
  h1.section-header {
    font-size: 30px;
}
.content-header {
  font-family: 'Oleo Script', cursive;
  color: rgb(0 252 159);
  font-size: 22px;
}
.section-content h3 {
  font-size: 14px;
  opacity: 0.7;
}
.contact-section {
  padding-top: 25px;
}
.contact-section .col-md-6 {
  width: 100%;
}
#contact {
  padding-bottom: 22px;
  height: auto;
}
}